
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: blue; */
}
/* h3{
    color: purple;
} */
h1,h3{
    color: #b92b27;
}



#login
{
   background-color: white; 
}
#signup
{
    background-color: #b92b27;
    color: white;
}


.upvote
{
    background-color: pink;
    color: aqua;
}


/* descedant selector */
p a{
    color:blueviolet;
    background-color: yellow;
}


.name a{
    color: grey;
    background-color: #b92b27;
}


nav ul li{
    color: hotpink;

}


p+h3{
    text-decoration: underline;
}


.upvote+button{
    background-color: aqua;
}


div>input
{
    background-color: blanchedalmond;
}


input[type="text"]
{
    color: red;
}
input[type="password"]
{
color: rgb(216, 216, 22);
}


#myid p{
    color: green;
}


button:hover{
   background-color: black; 
   color: white;
}


h3:hover{
    text-decoration: overline;

}


button:active{
   background-color:darkorchid;
}


p:active{
    font-weight: bold;
    color: greenyellow;
}


input[type="radio"]:checked + label
{
    color:red;
    font-weight:bold;
}

.post:nth-last-of-type(2)
{
    background-color: blanchedalmond;
}


h1::first-letter{
    color: orange;
}
p::first-line{
    color: purple;
}
p::selection{
    background-color: yellowgreen;
}

h3{
    background-color: yellow;
}
h3{
    background-color: blue;
}


h3{
    background-color: antiquewhite !important;
}