


div{
    height: 500px;
    width: 200px;
    background-color: pink;
}
    /* border-width: 5px;
    border-style: solid;
    border-color: black;

} */

h1
{
    border-width: 2px;
    border-style: dashed;
    border-color: red;
}


div {
    border: 5px,solid,black;
    /* border-left-color:red;
    border-right-style:dotted;
    border-top : 5px dashed blue; */

}

/* 
div{
border-radius: 500px;
border-top-right-radius: 50px;
} */


div{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

button{
    border:2px,solid black;
    border-radius: 10px;
    /* padding: 20px; */
/* padding:10px 25px; */
/* padding: 20px 30px,40px; */
padding: 100px 100px 50px 50px;
}

div
{
    /* margin-bottom: 25px; */
    margin: 1px 2px 3px;
}