div{
    height: 200px;
    width: 200px;
    background-color: rgba(242, 94, 20, 1);
    margin: 0 auto;
    /* transition: 1s 1s; */
    margin-top: 10PX;
   transition: margin-top 2s ease-in 0.3s;
}
/* div:hover{
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
} */



div:hover { 
    margin-top: 400px;
    background-color: aquamarine;
}