#outer
{
    height: 200px;
    width:70px ;
    border: 2px solid black;
}

.inner
{
    height: 50px;
    width: 50px;
    border:2px solid rgb(190, 18, 18);
    margin: 10px;
    border-radius: 50%
}

#red
{
    background-color: red;
}
#yellow
{
    background-color: yellow;
}
#green
{
    background-color: rgb(13, 242, 13);
}