#outer
{
    height: 400px;
    width: 400px;
border: 2px solid black;
background-color: aqua;
font-size: 20px;

}
#inner
{
    height: 100px;
    width:100px;
    background-color: cornflowerblue;
    font-size: 0.5sem;
    padding: 1em;
}

button{
    font-size: 50px;
    border-radius: 15px;
    border: 50px solid greenyellow;
padding-left: 1em;
padding-right: 1em;
}