.container {
  width: 600px;
  height: 300px;
  background-color: rgb(230, 25, 25);
  display: grid;
  /* grid-template-rows: 100px 100px 100px;

  grid-template-rows: 50px 50px 50px 50px 50px;
  /* grid-template-columns: 100px 100px 100px 100px;
   */
   /* 
   /*  */
   grid-template-rows: 10px;
   grid-template-columns: repeat(3 , 1fr);
   row-gap: 50px;
   column-gap: 50px;
}

.item {
  background-color: greenyellow;
  border: 2px solid rgb(223, 27, 210);
  text-align: center;
}
